@import "../../../assets/scss/variable";

.siteSetup {
  .siteSetupTitle {
    margin:          70px 0;
    width:           100%;
    text-align:      right;
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    h2 {
      margin-top:    0;
      margin-bottom: 0;
    }
  }
  .siteSetupInner {
    display:         flex;
    align-items:     flex-end;
    justify-content: space-between;
    margin-bottom:   120px;
    .siteSetupButtons {
      display:         flex;
      flex-wrap:       wrap;
      flex-direction:  row-reverse;
      align-items:     flex-end;
      justify-content: flex-start;
      button {
        margin-bottom: 20px;
        margin-top:    20px;
      }
    }
  }
}


.siteSetupTabsWrapper {
  position:      relative;
  margin-bottom: 0;
  .siteSetupTabs {
    overflow:      auto;
    max-width:     90%;
    position:      absolute;
    z-index:       0;
    left:          0;
    top:           20px;
    transform:     translateY(-100%);
    display:       inline-flex;
    font-weight:   bold;
    background:    #f6f8fa;
    color:         $lightBlackColor;
    border-radius: 20px 20px 0 0;
    font-size:     24px;
    line-height:   1.25;
    cursor:        pointer;
    li {
      min-width:     100px;
      padding:       20px 2.8% 40px 2.8%;
      border-radius: 20px 20px 0 0;
      text-align:    center;
    }
  }
}


@media screen and (max-width: 1200px) {
  .siteSetup {
    .siteSetupInner {
      flex-wrap: wrap;
      .siteSetupButtons {
        flex-direction: row;
        button {
          margin-left:  0;
          margin-right: 40px;
        }
      }
    }
  }

}


