@import "../../../../../assets/scss/variable";

.wrapper {
  background:    $whiteColor;
  border-radius: 1.25rem;
  padding:       2.5rem;
  width:         100%;
  margin-top:    1.875rem;
  overflow:      auto;
  max-height:    35rem;
  position:      relative;
  z-index:       1;
  .table {
    overflow: auto;
    .tableRow {
      font-size:   1.125rem;
      display:     grid;
      line-height: 1.67;
      .tableCell {
        margin:          0.3125rem 1.25rem;
        display:         flex;
        justify-content: left;
        background:      white;
        border:          none;
        min-height:      2.5rem;
        height:          2.5rem;
        line-height:     2.5rem;
        padding:         0;
      }
    }
    .tableBody {
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      display:               grid;
      .tableRow {
        grid-gap: 1px;
        .tableCell:not(:first-child) {
          background:   $veryLightBlueColor;
          padding-left: 1.25rem;
          font-size:    1.125rem;
        }
        .tableCell:first-child {
          font-weight: bold;
          color:       $mainColor;

        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .wrapper {
    padding: 1.25rem;
  }
}