@import "../../../assets/scss/variable";


@media (any-hover: hover) {
  .inputFile .upload:hover {
    background: $mainColor;
    border:     0.0625rem solid $mainColor;
    color:      $whiteColor;
  }
}

.inputFile {
  .upload {
    background:      transparent;
    border:          0.0625rem solid $mainColor;
    color:           $mainColor;
    border-radius:   1.5rem;
    display:         inline-flex;
    align-items:     center;
    justify-content: center;
    padding:         0.875rem 3rem;
    margin-right:    0.625rem;
    cursor:          pointer;
    transition:      .2s ease-in-out;
    &:active {
      opacity:    .8;
      background: $mainColor;
      border:     0.0625rem solid $mainColor;
      color:      $whiteColor;
    }
  }
  span {
    font-weight: 100;
  }
}
