@import "../../../../../assets/scss/variable";

.field {
  position: relative;
  .validation {
    position:  absolute;
    color:     $redColor;
    bottom:    -1rem;
    left:      0;
    z-index:   1;
    font-size: 0.75rem;
  }
}
.networkValue {
  width: 100%;
}
