.app {
  display:         flex;
  align-items:     flex-start;
  justify-content: flex-start;
  height:          100%;
}

.main {
  padding:     2.5rem;
  width:       100%;
  margin-left: 18.9375rem;
}

@media screen and (max-width: 992px) {
  .main {
    width:       calc(100%);
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0.9375rem;
  }
}