.app {
  display:         flex;
  align-items:     flex-start;
  justify-content: flex-start;
  height:          100%;
}

.main {
  padding: 40px;
  width:   calc(100% - 303px);
}

@media screen and (max-width: 992px) {
  .main {
    width: calc(100%);
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 15px;
  }
}