@import "../../../../../../../assets/scss/variable";

.networkValue {
  width: 100%;
}

.validation {
  position:  absolute;
  color:     $redColor;
  bottom:    -1rem;
  left:      0;
  z-index:   1;
  font-size: 0.75rem;
}