@import "../../../../../assets/scss/variable";

.tableRow {
  display:               grid;
  grid-template-columns: minmax(10rem, 50%) minmax(13.75rem, 50%);
  padding-right:         10%;
  margin:                1.5rem 0;
  min-height:            2.5rem;
  align-items:           center;
}


.emSetupValue {
  width: 100%;
}
