@import "../../../assets/scss/variable";


.wrapper {
  background:    $whiteColor;
  border-radius: 1.25rem;
  padding:       1.25rem 2.5rem;
  width:         35%;
  margin-top:    1.875rem;
  position:      relative;
  z-index:       1;
  min-width:     34.375rem;
  .table {
    overflow: auto;
    .tableRow {
      display:               grid;
      grid-template-columns: minmax(10rem, 50%) minmax(13.75rem, 50%);
      margin:                1.5rem 0;
      min-height:            2.5rem;
      font-size:             1.25rem;
      align-items:           center;
    }
    .value {
      width: 100%;
    }
  }
}


@media screen and (max-width: 768px) {
  .wrapper {
    padding:   1.25rem;
    width:     100%;
    min-width: 18.75rem;
  }
}