@import "../../../assets/scss/variable";
@import "../../common/Button/Button.module";

.wrapper {
  background:    $whiteColor;
  border-radius: 20px;
  padding:       20px 40px;
  width:         35%;
  margin-top:    30px;
  position:      relative;
  z-index:       1;
  min-width:     550px;
  .table {
    .tableRow {
      display:               grid;
      grid-template-columns: 50% 50%;
      margin:                24px 0;
      min-height:            40px;
      font-size:             20px;
      align-items:           center;
    }
    .utilitiesValue {
      width: 100%;
    }
  }
}

.utilitiesButtons, .utilitiesTitle {
  margin:          70px 0;
  width:           100%;
  text-align:      right;
  display:         flex;
  flex-wrap:       wrap;
  justify-content: flex-end;
  align-items:     center;

}

.utilitiesTitle {
  justify-content: space-between;
  h2 {
    margin-top:    0;
    margin-bottom: 0;
  }
}


@media screen and (max-width: 768px) {
  .wrapper {
    padding: 20px;
  }
}