@import "../../../assets/scss/variable";

.wrapper {
  background:    $whiteColor;
  border-radius: 1.25rem;
  padding:       2.5rem;
  width:         100%;
  margin-top:    1.875rem;
  .table {
    overflow: auto;
    .tableHeader {
      font-size:   1.125rem;
      line-height: 1.66;
    }
    .tableBody {
      font-weight: bold;
      font-size:   1.25rem;
      line-height: 1.5;

    }
    .tableRow {
      display:               grid;
      grid-template-columns: repeat(auto-fit, minmax(11.875rem, 25%));
      grid-auto-flow:        column;
      .tableCell {
        margin:    0.75rem 0;
        min-width: 11.875rem;
      }
    }
  }
  h3 {
    margin: 0 0 2.5rem 1.875rem;
  }
}


@media screen and (max-width: 768px) {
  .wrapper {
    padding: 1.25rem;
  }
}