@import "../../../assets/scss/variable";

.wrapper {
  background:    $whiteColor;
  border-radius: 20px;
  padding:       40px;
  width:         100%;
  margin-top:    30px;
  .table {
    overflow: auto;
    .tableHeader {
      font-size:   18px;
      line-height: 1.66;
    }
    .tableBody {
      font-weight: bold;
      font-size:   20px;
      line-height: 1.5;

    }
    .tableRow {
      display:               grid;
      grid-template-columns: repeat(auto-fit, minmax(190px, 25%));
      grid-auto-flow:        column;
      .tableCell {
        margin:    12px 0;
        min-width: 190px;
      }
    }
  }
  h3 {
    margin: 0 0 40px 30px;
  }
}
