@import "../../../assets/scss/variable";

.wrapper {
  background:    $whiteColor;
  border-radius: 1.25rem;
  padding:       2.5rem;
  width:         100%;
  margin-top:    1.875rem;
  position:      relative;
  z-index:       1;
  .table {
    overflow: auto;
    .tableRow {
      display:               grid;
      grid-template-columns: minmax(10.625rem, 50%) minmax(28.75rem, 50%);
      padding-right:         10%;
      margin:                1.5rem 0;
      min-height:            2.5rem;
      align-items:           center;
      .macDns {
        display:               grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:                   1.25rem;
        input {
          padding: 0.75rem 0 0.75rem 1.875rem;
        }
        .enable {
          display:         flex;
          flex-direction:  row-reverse;
          align-items:     center;
          justify-content: flex-end;
          padding-top:     1.25rem;
        }
      }
    }
    .networkValue {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 1.25rem;
  }
}