@import "../../common/Button/Button.module";

.networkButtons, .networkTitle {
  margin:          70px 0;
  width:           100%;
  text-align:      right;
  display:         flex;
  flex-wrap:       wrap;
  justify-content: flex-end;
  align-items:     center;

}

.networkTitle {
  justify-content: space-between;
  h2 {
    margin-top:    0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 778px) {
  .networkButtons, .networkTitle {
    margin: 70px 0 30px 0;
  }
}

