@import "assets/scss/variable";

@media (any-hover: hover) {
  a:hover span {
    font-size: 1.5rem;
    color:     $mainColor;
  }
  a:hover svg {
    fill: $mainColor;
  }
}

body, html {
  margin:  0;
  padding: 0;
  height:  100%;
}

html {
  font-size: 16px;
}

body {
  background: $bgColor;
}

* {
  box-sizing:  border-box;
  font-family: 'Proxima Nova', sans-serif;
  padding:     0;
  margin:      0;
  outline:     none;
}

#root {
  height: 100%;
}

a {
  font-size:       1.125rem;
  text-decoration: none;
  color:           $secondColor;
  font-weight:     bold;
  line-height:     1.25;
  svg {
    fill: $secondColor;
  }
  &:active span {
    opacity:   .7;
    font-size: 1.5rem;
    color:     $mainColor;
  }
  &:active svg {
    opacity: .7;
    fill:    $mainColor;
  }
}

h1 {
  font-size:   2.125rem;
  line-height: 1.66;
  font-weight: 800;
  font-style:  italic;
}

h2 {
  font-size:   2.25rem;
  color:       $lightBlackColor;
  margin:      4.375rem 0.625rem 4.375rem 4.375rem;
  min-height:  2.5rem;
  line-height: 5.5rem;
}

h3 {
  font-size:   1.5rem;
  line-height: 1.25;
  color:       $lightBlackColor;
  margin:      0 0 3.125rem 0;
}

ul {
  list-style-type: none;
  li {
    font-size:   1.125rem;
    line-height: 1.67;
    color:       $secondColor;
  }
}

input, select {
  background:    $grayColor;
  border:        none;
  border-radius: 0.625rem;
  font-size:     1.125rem;
  height:        3rem;
}

input {
  padding: 0.75rem 0 0.75rem 4.375rem;
}

select {
  padding: 0;
}

button[disabled] {
  display: none;
}

input[disabled], select[disabled] {
  cursor: default;
}


.checkbox {
  width:  1.875rem;
  height: 1.875rem;
  input[type='checkbox'] {
    padding:       0;
    height:        initial;
    width:         initial;
    margin-bottom: 0;
    display:       none;
    cursor:        pointer;
    &:checked + label:after {
      content:         '';
      background:      url("./assets/img/checkBox.svg") no-repeat center;
      background-size: contain;
      display:         inline-block;
      position:        absolute;
      top:             0;
      left:            -0.25rem;
      width:           100%;
      height:          100%;
      cursor:          pointer;
    }
  }
  label {
    position:     relative;
    width:        1.875rem;
    height:       1.875rem;
    display:      inline-block;
    padding-left: 2.5rem;
    line-height:  1.875rem;
    &:before {
      content:         '';
      background:      url("./assets/img/checkBox-empty.svg") no-repeat center;
      position:        absolute;
      top:             0;
      left:            0;
      background-size: contain;
      display:         inline-block;
      cursor:          pointer;
      width:           1.625rem;
      height:          1.875rem;
    }
    &:hover, &:active {
      opacity: .8;
    }
  }

}

input[type='file'] {
  display: none;
}

::-webkit-scrollbar { width: 0.3125rem; height: 0.3125rem;}

::-webkit-scrollbar-button { background-color: transparent; }

::-webkit-scrollbar-track { background-color: transparent;}

::-webkit-scrollbar-track-piece { background-color: transparent;}

::-webkit-scrollbar-thumb { height: 3.125rem; background-color: #dfcefa; border-radius: 0.3125rem;}

::-webkit-scrollbar-corner { background-color: transparent;}


::-webkit-resizer { background-color: #dfcefa;}

.react-tabs__tab--selected {
  color:      $lightBlackColor;
  background: $whiteColor;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  h2 {
    margin: 1.25rem 0.625rem 1.25rem 1.25rem;
  }
}

@media screen and (max-width: 567px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 9px;
  }
}