@import "../src/scss/variable";

@media (any-hover: hover) {
  a:hover span {
    font-size: 24px;
    color:     $mainColor;
  }
  a:hover svg {
    fill: $mainColor;
  }
}

body, html {
  margin:  0;
  padding: 0;
  height:  100%;
}

body {
  background: $bgColor;
}

* {
  box-sizing:  border-box;
  font-family: 'Proxima Nova', sans-serif;
  padding:     0;
  margin:      0;
  outline:     none;
}

#root {
  height: 100%;
}

a {
  font-size:       18px;
  text-decoration: none;
  color:           $secondColor;
  font-weight:     bold;
  line-height:     1.25;
  svg {
    fill: $secondColor;
  }
  &:active span {
    opacity:   .7;
    font-size: 24px;
    color:     $mainColor;
  }
  &:active svg {
    opacity: .7;
    fill:    $mainColor;
  }
}

h1 {
  font-size:   34px;
  line-height: 1.66;
  font-weight: 800;
  font-style:  italic;
}

h2 {
  font-size:   36px;
  color:       $lightBlackColor;
  margin:      70px 0 70px 70px;
  min-height:  40px;
  line-height: 40px;
}

h3 {
  font-size:   24px;
  line-height: 1.25;
  color:       $lightBlackColor;
  margin:      0 0 40px 30px;
}

ul {
  list-style-type: none;
  li {
    font-size:   18px;
    line-height: 1.67;
    color:       $secondColor;
  }
}

input, select {
  background:    $grayColor;
  padding:       12px 0 12px 70px;
  border:        none;
  border-radius: 10px;
}

input[type='checkbox'] {
  border:        1px solid $mainColor;
  width:         10px;
  height:        10px;
  border-radius: 10px;
}