@import "assets/scss/variable";

@media (any-hover: hover) {
  a:hover span {
    font-size: 24px;
    color:     $mainColor;
  }
  a:hover svg {
    fill: $mainColor;
  }
}

body, html {
  margin:  0;
  padding: 0;
  height:  100%;
}

body {
  background: $bgColor;
}

* {
  box-sizing:  border-box;
  font-family: 'Proxima Nova', sans-serif;
  padding:     0;
  margin:      0;
  outline:     none;
}

#root {
  height: 100%;
}

a {
  font-size:       18px;
  text-decoration: none;
  color:           $secondColor;
  font-weight:     bold;
  line-height:     1.25;
  svg {
    fill: $secondColor;
  }
  &:active span {
    opacity:   .7;
    font-size: 24px;
    color:     $mainColor;
  }
  &:active svg {
    opacity: .7;
    fill:    $mainColor;
  }
}

h1 {
  font-size:   34px;
  line-height: 1.66;
  font-weight: 800;
  font-style:  italic;
}

h2 {
  font-size:   36px;
  color:       $lightBlackColor;
  margin:      70px 0 70px 70px;
  min-height:  40px;
  line-height: 40px;
}

h3 {
  font-size:   24px;
  line-height: 1.25;
  color:       $lightBlackColor;
  margin:      0 0 50px 0;
}

ul {
  list-style-type: none;
  li {
    font-size:   18px;
    line-height: 1.67;
    color:       $secondColor;
  }
}

input, select {
  background:    $grayColor;
  padding:       12px 0 12px 70px;
  border:        none;
  border-radius: 10px;
  font-size:     18px;
}


.checkbox {
  width:  30px;
  height: 30px;
  input[type='checkbox'] {
    padding:       0;
    height:        initial;
    width:         initial;
    margin-bottom: 0;
    display:       none;
    cursor:        pointer;
    &:checked + label:after {
      content:         '';
      background:      url("./assets/img/checkBox.svg") no-repeat center;
      background-size: contain;
      display:         inline-block;
      position:        absolute;
      top:             0;
      left:            0;
      width:           100%;
      height:          100%;
    }
  }

  label {
    position:       relative;
    width:          30px;
    height:         30px;
    display:        inline-block;
    pointer-events: none;
    &:before {
      content:         '';
      background:      url("./assets/img/checkBox-empty.svg") no-repeat center;
      position:        absolute;
      background-size: contain;
      display:         inline-block;
      cursor:          pointer;
      width:           26px;
      height:          30px;
    }
    &:hover, &:active {
      opacity: .8;
    }
  }

}

.question {
  background:      url("./assets/img/question.svg") no-repeat center;
  background-size: contain;
  width:           24px;
  height:          24px;
  &:hover, &:active {
    opacity: .8;
  }
}


input[type='file'] {
  visibility: hidden;
}

::-webkit-scrollbar { width: 5px; height: 5px;}

::-webkit-scrollbar-button { background-color: #dfcefa; }

::-webkit-scrollbar-track { background-color: transparent;}

::-webkit-scrollbar-track-piece { background-color: transparent;}

::-webkit-scrollbar-thumb { height: 50px; background-color: #dfcefa; border-radius: 5px;}

::-webkit-scrollbar-corner { background-color: transparent;}


::-webkit-resizer { background-color: #dfcefa;}

.react-tabs__tab--selected {
  color:      $lightBlackColor;
  background: $whiteColor;
}