@import "../../../../../assets/scss/variable";

.wrapper {
  background:    $whiteColor;
  border-radius: 20px;
  padding:       40px;
  width:         100%;
  margin-top:    30px;
  overflow:      auto;
  max-height:    560px;
  position:      relative;
  z-index:       1;
  .table {
    overflow: auto;
    .tableHeader {
      font-weight:           bold;
      color:                 $mainColor;
      display:               grid;
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
    .tableRow, .tableHeader {
      font-size:   18px;
      line-height: 1.67;
      .tableCell {
        display:         flex;
        justify-content: center;
        background:      white;
        border:          none;
        min-height:      60px;
        height:          60px;
        line-height:     60px;
        padding:         0;
        align-items:     center;
      }
    }
    .tableBody {
      display:               grid;
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      .tableRow {
        border-bottom:    1px solid $lightBlueColor;
        background-color: #dee8f0;
        .tableCell {
          padding-left:    20px;
          font-size:       18px;
          justify-content: center;
          margin-bottom:   1px;
        }
      }
    }
  }
}


.siteSetupButtonsWrapper {
  display:       flex;
  flex-wrap:     wrap;
  margin-bottom: 20px;
  align-items:   center;
  .siteSetupButtons {
    border-radius:   20px;
    display:         flex;
    justify-content: flex-start;
    align-items:     center;
    border:          1px solid $mainColor;
    color:           $mainColor;
    background:      transparent;
    box-shadow:      none;
    transition:      .2s ease-in-out;
    min-height:      40px;
    height:          40px;
    padding:         0 20px;
    min-width:       190px;
    font-size:       18px;
    margin-right:    40px;
    margin-bottom:   20px;
    &.disable {
      pointer-events: none;
      opacity:        .6;
    }
  }
  p {
    margin-bottom: 20px;
  }
}