@import "../../../../assets/scss/variable";
@import "../../../common/Button/Button.module";

.wrapper {
  background:    $whiteColor;
  border-radius: 1.25rem;
  padding:       2.5rem;
  width:         100%;
  margin-top:    1.875rem;
  position:      relative;
  z-index:       1;
  .table {
    overflow: auto;
    .tableBody {
      line-height: 1.5;
      display:     grid;
      .tableRowWrapper:nth-child(1) {
        .tableCell:nth-child(1) {
          align-items: flex-start;
        }
      }
      .tableRowWrapper {
        .tableRow:nth-child(1) {
          .tableCell {
            font-size:   1.125rem;
            font-weight: bold;
          }
        }
      }
    }
    .tableRow {
      background-color:      $lightBlueColor;
      display:               grid;
      grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
      grid-auto-flow:        column;
      .tableCell {
        margin-bottom:   0.0625rem;
        background:      $whiteColor;
        font-size:       1rem;
        line-height:     1.67;
        min-height:      4.375rem;
        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: center;
        padding-left:    0.625rem;
        text-align:      center;
        border-radius:   0;
        min-width:       7.5rem;
      }
      .inputWrapper {
        position:        relative;
        margin-bottom:   0.0625rem;
        background:      #fff;
        font-size:       1rem;
        line-height:     1.67;
        min-height:      4.375rem;
        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: center;
        padding-left:    0.625rem;
        text-align:      center;
        border-radius:   0;
        &:before {
          content:       '';
          background:    $veryLightBlueColor;
          width:         80%;
          height:        57.15%;
          position:      absolute;
          z-index:       0;
          left:          50%;
          top:           50%;
          transform:     translate(-50%, -50%);
          border-radius: 0.625rem;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 1.25rem;
  }
}


.tableBody {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap:              1.5rem 0;
}


// BEGIN EM12
:global {
  .utilitiesTable .EM12 {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap:              1.5rem 0;
  }
}

@media screen and (max-width: 2400px) {
  :global {
    .utilitiesTable .EM12 {
      grid-template-columns: 50% 50%;
    }
  }
}

@media screen and (max-width: 1500px) {
  :global {
    .utilitiesTable .EM12 {
      grid-template-columns: 100%;
    }
  }
}

// END EM12


// BEGIN EM8
:global {
  .utilitiesTable .EM8 {
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
    grid-gap:              1.5rem 0;
  }
}

@media screen and (max-width: 1950px) {
  :global {
    .utilitiesTable .EM8 {
      grid-template-columns: 50% 50%;
    }
  }
}

@media screen and (max-width: 1200px) {
  :global {
    .utilitiesTable .EM8 {
      grid-template-columns: 100%;
    }
  }
}

// END EM8


// BEGIN EM4
:global {
  .utilitiesTable .EM4 {
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
    grid-gap:              1.5rem 0;
  }
}

// END EM4