@import "../../../../assets/scss/variable";

.wrapper {
  background:    $whiteColor;
  border-radius: 1.25rem;
  padding:       2.5rem;
  width:         100%;
  margin-top:    1.875rem;
  position:      relative;
  z-index:       1;
  .table {
    overflow: auto;
    .tableBody, .tableHeader {

      line-height: 1.5;
      min-width:   9.5rem;
    }
    .tableHeader {
      background-color:      $lightBlueColor;
      display:               grid;
      grid-template-columns: repeat(auto-fit, minmax(7.5rem, auto));
      min-width:             97.5rem;
      grid-auto-flow: column;
      &:nth-child(1) {
        font-weight: bold;
        font-size:   1.25rem;
        color:       $mainColor;
        .tableCell {
          align-items: center;
        }
      }
      .tableCell {
        background:      $whiteColor;
        font-size:       1rem;
        line-height:     1.67;
        min-height:      3.125rem;
        display:         flex;
        flex-direction:  column;
        align-items:     flex-start;
        justify-content: center;
      }
    }
    .tableRow {
      background-color:      $lightBlueColor;
      display:               grid;
      grid-template-columns: repeat(auto-fit, minmax(7.5rem, auto));
      min-width:             97.5rem;
      &:nth-child(1) .tableCell {
        font-size: 1.125rem;
      }
      .tableCell {
        margin-bottom:   0.0625rem;
        background:      $whiteColor;
        font-size:       1rem;
        line-height:     1.67;
        min-height:      5.625rem;
        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: center;
        padding-left:    0.625rem;
        &:nth-child(1) {
          min-height:  3.125rem;
          align-items: flex-start;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 1.25rem;
  }
}
