@import "../../../../assets/scss/variable";
@import "../../../common/Button/Button.module";

.wrapper {
  background:    $whiteColor;
  border-radius: 1.25rem;
  padding:       2.5rem;
  width:         100%;
  margin-top:    1.875rem;
  position:      relative;
  z-index:       1;
  .table {
    overflow: auto;
    .tableBody, .tableHeader {
      line-height: 1.5;
    }
    .tableHeader {
      background-color:      $lightBlueColor;
      display:               grid;
      grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
      grid-auto-flow:        column;
      &:nth-child(1) {
        font-weight: bold;
        font-size:   1.25rem;
        color:       $mainColor;
        .tableCell {
          align-items: center;
        }
      }
      .tableCell {
        background:      $whiteColor;
        font-size:       1rem;
        line-height:     1.67;
        min-height:      3.125rem;
        display:         flex;
        flex-direction:  column;
        align-items:     flex-start;
        justify-content: center;
        min-width:       7.5rem;
      }
    }
    .tableRow {
      background-color:      $lightBlueColor;
      display:               grid;
      grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
      grid-auto-flow:        column;
      &:nth-child(1) .tableCell {
        font-size: 1.125rem;
      }
      .tableCell {
        margin-bottom:   0.0625rem;
        background:      $whiteColor;
        font-size:       1rem;
        line-height:     1.67;
        min-height:      4.375rem;
        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: center;
        padding-left:    0.625rem;
        text-align:      center;
        border-radius:   0;
        min-width:       7.5rem;
        &:nth-child(1) {
          min-height:  3.125rem;
          align-items: flex-start;
        }
      }
      .inputWrapper {
        position:        relative;
        margin-bottom:   0.0625rem;
        background:      #fff;
        font-size:       1rem;
        line-height:     1.67;
        min-height:      4.375rem;
        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: center;
        padding-left:    0.625rem;
        text-align:      center;
        border-radius:   0;
        &:before {
          content:       '';
          background:    $veryLightBlueColor;
          width:         80%;
          height:        57.15%;
          position:      absolute;
          z-index:       0;
          left:          50%;
          top:           50%;
          transform:     translate(-50%, -50%);
          border-radius: 0.625rem;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 1.25rem;
  }
}
